/* HelpLess
*
*  @What is it:
*  HelpLess is a Helper Library for the brilliant LESS dynamic stylesheet language.
*  Read more about LESS: http://lesscss.org/
*  
*  I have tried to make HelpLess as all-encompasing as possible with support for dynamic
*  grids and page starter themes as well as all the css3 features I could think of.
*  Unlike other libraries, HelpLess has an invisible footprint until you call a mixin 
*  so if you import HelpLess but don't use it, it will not increase your compiled file size
*  
*  @thanks: 
*  Eric Meyer for his html reset - http://meyerweb.com/eric/tools/css/reset/
*  Necolas for his normalize - https://github.com/necolas/normalize.css
*
*  @How to use:
*  Import helpless.x.x.x.less into your main style.less file. 
*
*  @Author: 
*  m6tt: m6tt.com
*
*  @Reference:
*  ------------------------------------------------------------------------------
*    BASICS                     =>    syntax
*  ------------------------------------------------------------------------------
*    - .reset                   =>    #hl.reset() - call outside of element
*    - .normalize               =>    #hl.normalize - call outside of element
*    - .clearfix                =>    #hl.clearfix()
*    - .centered                =>    #hl.centered(width)
*    - .border                  =>    #hl.border(color)
*    - .opacity                 =>    #hl.opacity(value)
*    - .round-all-corners       =>    #hl.round-all-corners(radius)
*    - .rounded-corners         =>    #hl.rounded-corners(topLeft, topRight, bottomRight, bottomLeft)
*    - .transition              =>    #hl.transition(property, duration, ease, delay)
*    - .drop-shadow             =>    #hl.drop-shadow(x, y, blur, color)
*    - .inner-shadow            =>    #hl.inner-shadow(x, y, blur, color)
*    - .text-shadow             =>    #hl.text-shadow(x, y, blur, color)
*    - .background-gradient     =>    #hl.background-gradient(colorFrom, colorTo, fallbackColor, fallbackImageUrl)
*    - .scale                   =>    #hl.scale(amount)
*    - .scaleX                  =>    #hl.scaleX(amount)
*    - .scaleY                  =>    #hl.scaleY(amount)
*    - .rotate                  =>    #hl.rotate(degrees)
*    - .rotateX                 =>    #hl.rotateX(degrees)
*    - .rotateY                 =>    #hl.rotateY(degrees)
*    - .skew                    =>    #hl.skew(angleX, angleY)
*    - .skewX                   =>    #hl.skewX(angleX)
*    - .skewY                   =>    #hl.skewY(angleY)
*    - .translate               =>    #hl.translate(x, y)
*    - .translateX              =>    #hl.translateX(x)
*    - .translateY              =>    #hl.translateY(y)
*    - .matrix                  =>    #hl.matrix(n, n, n, n, n, n)
*
*  ------------------------------------------------------------------------------
*    GRID                       =>    syntax
*  ------------------------------------------------------------------------------
*    - .grid                    =>    namespace, do not call directly, use .make or one of the predefined grid makers
*     - .make                   =>    #hl.grid.make(width, colNumber, gutterWidth)
*     - .1200                   =>    #hl.grid.1200();
*     - .1120                   =>    #hl.grid.1120();
*     - .1040                   =>    #hl.grid.1040();
*     - .960                    =>    #hl.grid.960();
*     - .880                    =>    #hl.grid.880();
*     - .800                    =>    #hl.grid.800();
*     - .720                    =>    #hl.grid.720();
*     - .640                    =>    #hl.grid.640();
*     - .560                    =>    #hl.grid.560();
*     - .480                    =>    #hl.grid.480();
*     - .400                    =>    #hl.grid.400();
*     - .320                    =>    #hl.grid.320();
*     - .240                    =>    #hl.grid.240();
*     - .row                    =>    #hl.grid.row();
*     - .col                    =>    #hl.grid.col(colSpan);
*
*  ---------------------------------------
*    TYPOGRAPHY
*  ---------------------------------------
*    - .typo                    =>    namespace, do not call directly
*     - .serif                  =>    #hl.typo.serif(webfont-name-optional);
*     - .sans                   =>    #hl.typo.sans(webfont-name-optional);
*     - .columns                =>    #hl.typo.columns(count, gap)
* 
*  ---------------------------------------
*    IMAGES
*  ---------------------------------------
*    - .img                     =>    namespace, do not call directly
*     - .responsive             =>    #hl.img.responsive();
*     - .framed                 =>    #hl.img.framed();

*  ---------------------------------------
*    USER INTERFACE
*  ---------------------------------------
*    - .ui                      =>    namespace, do not call directly
*     - .themes                 =>    namespace, do not call directly
*      - .light                 =>    #hl.ui.themes.light(); - call within <body> element
*      - .dark                  =>    #hl.ui.themes.dark(); - call within <body> element
*     - .list                   =>    namespace, do not call directly
*      - .subtle                =>    #hl.ui.list.subtle(); - call within <ul> element
*      - .horizontal            =>    #hl.ui.list.horizontal(); - call within <ul> element
*
*/
#hl {
  /************************************
  * Meyer Reset
  * http://meyerweb.com/eric/tools/css/reset/
  ************************************/

  /************************************
  * Normalize by necolas
  * https://github.com/necolas/normalize.css
  ************************************/

  /************************************
  * Clearfix
  *
  * what?: Contains floats, for more info see h5bp.com/q.
  *        Removes the need to add .clearfix as a class
  *        to your elements.
  *
  ************************************/

  /************************************
  * Centered
  *
  * @what?: Center your object with an
  *         automatic margin
  *
  * @params: width,      default = 960px
  *
  ************************************/

  /************************************
  * Border
  *
  * @what?: Add a 1px solid border
  *        super quick.
  *
  * @params: colour,      default = #000
  *
  ************************************/

  /************************************
  * Opacity
  *
  * @what?: Add opacity to an HTML element that works
  *         in all browsers including ie6+
  *
  * @params: value,      default = .5
  *
  ************************************/

  /************************************
  * Round all corners
  *
  * @what?: Rounds every corner equally
  *
  * @params: radius,      default = 5px
  *
  ************************************/

  /************************************
  * Rounded corners
  *
  * @what?: Round each corner individually
  *
  * @params: topLeft,     default = 5px
  *          topRight,    default = 5px
  *          bottomRight, default = 5px
  *          bottomLeft,  default = 5px
  *
  ************************************/

  /************************************
  * Transition
  *
  * @what?: Defines a CSS3 transition
  *
  * @params: property,    default = all
  *          duration,    default = .5s
  *          ease,        default = linear
  *          delay,       default = .0s
  *
  ************************************/

  /************************************
  * Drop shadow
  *
  * @what?: Adds an outer shadow to the
  *         html element. To add a shadow
  *         to text use #hl.text-shadow(...)
  *
  * @params: x,           default = 0px
  *          y,           default = 1px
  *          blur,        default = 1px
  *          colour,      default = rgba(0, 0, 0, .6)
  *
  ************************************/

  /************************************
  * Inner shadow
  *
  * @what: Adds an inner shadow to the
  *        html element.
  *
  * @params: x,           default = 0px
  *          y,           default = 1px
  *          blur,        default = 1px
  *          colour,      default = rgba(0, 0, 0, .6)
  *
  ************************************/

  /************************************
  * Text shadow
  *
  * @what?: Adds an outer shadow to text
  *
  * @params: x,           default = 1px
  *          y,           default = 1px
  *          blur,        default = 1px
  *          colour,      default = rgba(0, 0, 0, .6)
  *
  ************************************/

  /************************************
  * Background Gradient
  *
  * @what?: Adds a background gradient to
  *         an HTML element
  *
  * @params: colourFrom,       default = #bbb
  *          colourTo,         default = #f1f1f1
  *          fallbackColour,   default = #f1f1f1
  *          fallbackImageUrl, default = ''
  *
  ************************************/

  /************************************
  * Scale
  *
  * @what?: Defines a 2D scale transformation
  *
  * @params: amount,      default = 1
  *
  ************************************/

  /************************************
  * ScaleX
  *
  * @what?: Defines a scale transformation
  *         by giving a value for the X-axis
  *
  * @params: x,           default = 1
  *
  ************************************/

  /************************************
  * ScaleY
  *
  * @what?: Defines a scale transformation
  *         by giving a value for the Y-axis
  *
  * @params: y,           default = 1
  *
  ************************************/

  /************************************
  * Rotate
  *
  * @what?: Defines a 2D rotation, the angle
  *         is specified in the parameter
  *
  * @params: degrees,     default = 90deg
  *
  ************************************/

  /************************************
  * RotateX
  *
  * @what?: Defines a 3D rotation along the X-axis
  *
  * @params: degrees,     default = 90deg
  *
  ************************************/

  /************************************
  * RotateY
  *
  * @what?: Defines a 3D rotation along the Y-axis
  *
  * @params: degrees,     default = 90deg
  *
  ************************************/

  /************************************
  * Skew
  *
  * @what?: Defines a 2D skew transformation
  *         along the X- and the Y-axis
  *
  * @params: angleX,      default = 10deg
  *          angleY,      default = 10deg
  *
  ************************************/

  /************************************
  * SkewX
  *
  * @what?: Defines a 2D skew transformation
  *         along the X-axis
  *
  * @params: angleX,      default = 10deg
  *
  ************************************/

  /************************************
  * SkewY
  *
  * @what?: Defines a 2D skew transformation
  *         along the Y-axis
  *
  * @params: angleY,      default = 10deg
  *
  ************************************/

  /************************************
  * Translate
  *
  * @what?: Defines a 2D translation
  *
  * @params: x,           default = 10px
  *          y,           default = 10px
  *
  ************************************/

  /************************************
  * TranslateX
  *
  * @what?: Defines a translation, using
  *         only the value for the X-axis
  *
  * @params: x,           default = 10px
  *
  ************************************/

  /************************************
  * TranslateY
  *
  * @what?: Defines a translation, using
  *         only the value for the Y-axis
  *
  * @params: y,           default = 10px
  *
  ************************************/

  /************************************
  * Matrix
  *
  * @what?: Defines a 2D transformation,
  *         using a matrix of six values
  *
  * @params: n1,          default = 0
  *          n2,          default = 0
  *          n3,          default = 0
  *          n4,          default = 0
  *          n5,          default = 0
  *          n6,          default = 0
  *
  ************************************/

  /************************************
  * Grid
  ************************************/

  /***********************************
  * TYPOGRAPHY
  ***********************************/

  /***********************************
  * IMAGE
  ***********************************/

  /***********************************
  * UI 
  ***********************************/

}
#hl .grid {
  /************************************
    * Make
    *
    * @what?: Defines the base variables needed
    *         for the HelpLess grid system.
    *
    * @params: @width,      default = 960
    *          @colnum,     default = 16
    *          @colgutter,  default = 10
    *
    ************************************/

  /************************************
    * 1200
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 1120
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 1040
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 960
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 880
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 800
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 720
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 640
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 560
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 480
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 400
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 320
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * 240
    *
    * @what?: Predefined grid maker
    *
    ************************************/

  /************************************
    * Row
    *
    * @what?: Defines an element as a row.
    *         clears all clearfixes all columns
    *         directly inside.
    *
    ************************************/

  /************************************
    * Col
    *
    * @what?: Defines an element as a column.
    *         Sets the width depending on the
    *         supplied arguments and the width
    *         set in .grid()
    *
    * @params: @colSpan,  default = 1
    *
    ************************************/

}
#hl .typo {
  /************************************
    * Serif
    *
    * @what?: Quickly set your font family
    *         as a serif set
    *
    * @params: @webfont,  default = none
    *
    ************************************/

  /************************************
    * Serif
    *
    * @what?: Quickly set your font family
    *
    * @params: @webfont,  default = none
    *
    ************************************/

  /************************************
    * Columns
    *
    * @what?: Sets CSS3 columns within
    *         block of html text
    *
    * @params: count,       default = 1
    *          gap,         default = 10px
    *
    ************************************/

}
#hl .img {
  /************************************
    * Responsive
    *
    * @what?: Set image max-width: 100%
    *
    ************************************/

  /************************************
    * Framed
    *
    * @what?: Add a quick 10px frame to your image
    *
    ************************************/

}
#hl .ui {
  /***********************************
     * PREDEFINED THEMES
     ***********************************/

  /***********************************
     * LISTS
     ***********************************/

  /***********************************
     * FORMS
     ***********************************/

}
#hl .ui .themes {
  /***********************************
       * Theme: Light
       *
       * @what?: Quickly style the base elements
       *         of your page
       *
       ***********************************/

  /***********************************
       * Theme: Dark
       *
       * @what?: Quickly style the base elements
       *         of your page
       *
       ***********************************/

}
#hl .ui .list {
  /***********************************
       * Subtle
       *
       * @what?: Quickly removes the styling 
       *         from a list
       *
       ***********************************/

  /***********************************
       * Horizontal
       *
       * @what?: Creates a horizontal list, 
       *         useful for styling your site nav
       *
       ***********************************/

}
/*
 * HTML5 ✰ Boilerplate - LESS
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * Converted to LESS by @m6tt: m6tt.com/less-boilerplate
 */
#blr {
  /* ==|== normalize ======================================== */

  /* ==|== non-semantic helper classes ======================================== */

  /* ==|== print styles ======================================================= */

}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'Syncopate', sans-serif;
}
@font-face {
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'Raleway', sans-serif;
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  margin: 0;
  background-image: url('../img/back_pattern.png');
  background-attachment: fixed;
  padding-top: 50px;
}
h1 {
  display: none;
  font-family: 'Syncopate', Arial;
  font-size: 93px;
  margin-top: 70px;
  margin-bottom: 0;
  color: #fff;
}
h2 {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  font-family: 'Raleway', Arial;
  color: #fff;
  font-size: 50px;
  margin-top: 10px;
}
h3 {
  font-size: 34px;
  color: #ffffff;
}
h4 {
  font-size: 18px;
}
p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
label {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 200px;
  display: block;
  background-color: #5F005F;
  text-align: center;
  padding: 10px 20px;
  margin: 2px 18px;
}
label.price {
  background-color: #460146;
}
ul {
  padding: 0;
}
a {
  color: #dcdcdc;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
ol {
  margin-top: 60px;
  margin-bottom: 250px;
  padding: 0;
}
li {
  display: inline-block;
  list-style-type: none;
}
li:last-child {
  margin-right: 0;
}
img {
  width: 100%;
  margin-bottom: -4px;
}
.black {
  background-color: #000;
}
.grey {
  background-color: rgba(0, 0, 0, 0.3);
}
.container {
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.full {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
}
.content-panel {
  margin: 80px 50px;
}
#intro .text {
  padding: 20px 50px 50px 50px;
}
#intro img {
  width: 600px;
  margin: 0 175px;
}
#intro p {
  margin-top: 0;
  text-align: center;
}
#about img {
  margin: 70px 0;
  border: black solid 10px;
}
#lessons {
  text-align: center;
}
.left {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin-left: 90px;
}
.right {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
.address {
  text-align: center;
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.address p {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
section {
  *zoom: 1;
  min-width: 960px;
}
section:before,
section:after {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
